<div class="modal fade" id="session-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <%= link_to '', class:"modal-title", id:"stop-session" do %>
          <i class="fas fa-video-slash"></i>
        <% end %>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal-body-session">
        <div class="session">
          <div id="subscriber">

          </div>
          <div id="publisher">

          </div>
        </div>
      </div>

    </div>
  </div>
</div>

</div> 